# Ignorar todo por defecto
/*

# Pero no ignores la segunda carpeta y su contenido
!frontend-movil/
!frontend-movil/**

# Ahora dentro de frontend-movil/frontend-movil puedes seguir usando tu .gitignore actual:
# dependencies
frontend-movil/node_modules/

# Expo
frontend-movil/.expo/
frontend-movil/dist/
frontend-movil/web-build/
frontend-movil/expo-env.d.ts

# Native
frontend-movil/.kotlin/
frontend-movil/*.orig.*
frontend-movil/*.jks
frontend-movil/*.p8
frontend-movil/*.p12
frontend-movil/*.key
frontend-movil/*.mobileprovision

# Metro
frontend-movil/.metro-health-check*

# debug
frontend-movil/npm-debug.*
frontend-movil/yarn-debug.*
frontend-movil/yarn-error.*

# macOS
frontend-movil/.DS_Store
frontend-movil/*.pem

# local env files
frontend-movil/.env*.local

# typescript
frontend-movil/*.tsbuildinfo

# generated native folders
frontend-movil/ios
frontend-movil/android
